@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  height: 100%;
  width: 100%;
}
.navbar{
  
  background-color: rgba(216, 141, 206, 0.619);
  height: 57px;
  display: flex;
  
}

.navbar  h1{
  position: absolute;
  left: 45px;
  margin: 10px 630px;
  color: #fcfcfc;
  font-size: 30px;
}
.container  {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  height: 91.8%;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #fcfcfc;
  background: url('image7.jpg') center/cover no-repeat fixed;
  background-size: 100% 100%;
}
a.Register:hover, a.Register:active{
  text-decoration: underline;
  color: #9F0D7F;
}
a.details:hover, a.details:active{
  text-decoration: underline;
  color: #9F0D7F;
}

.items{
  position: absolute;
  text-align: right;
  font-size: larger;
  height: 95%;
  top: -6.5%;
  left: 90%;
  display: block;
  text-decoration:none;

}
.details{
  text-decoration:none;
  text-align: justify;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
  margin :10px 10px 10px 10px;
  color: #ffffff;
}

.Register{
  text-decoration: none;
  text-align: justify;
  font-size: 15px;
  font-family: sans-serif;
  font-weight: bold;
  margin :10px 10px 10px 10px;
  color: #131313;

}

.click{
  position: absolute;
  bottom: -17%;
  height: 50px;
  width: 100px;
  border-radius: 20px;
  border-color: rgb(131, 131, 255);
  font-size: larger;
  font-style: arial;
  font-weight: bold;
  background-color: rgb(131, 131, 255);
  color: white;
}

.wrapper {
  position: absolute;
  top: 18%;
  height: 350px;
  width: 450px;
  background: #fff;
  border-radius: 5px;
  padding: 30px;
  box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.05);
}

.wrapper header {
  color: #6990F2;
  font-size: 27px;
  font-weight: 600;
  text-align: center;
}

.wrapper form {
  height: 167px;
  display: flex;
  cursor: pointer;
  margin: 30px 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  border: 2px dashed #6990F2;
}

form :where(i, p) {
  color: #6990F2;
}

form i {
  font-size: 50px;
}

form p {
  margin-top: 15px;
  font-size: 16px;
}

section .row {
  margin-bottom: 10px;
  background: #E9F0FF;
  list-style: none;
  padding: 15px 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section .row i {
  color: #6990F2;
  font-size: 30px;
}

section .details span {
  font-size: 14px;
}

.progress-area .row .content {
  width: 100%;
  margin-left: 15px;
}

.progress-area .details {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
  justify-content: space-between;
}

.progress-area .content .progress-bar {
  height: 6px;
  width: 100%;
  margin-bottom: 4px;
  background: #fff;
  border-radius: 30px;
}

.content .progress-bar .progress {
  height: 100%;
  width: 0%;
  background: #6990F2;
  border-radius: inherit;
}

.uploaded-area {
  max-height: 232px;
  overflow-y: scroll;
}

.uploaded-area.onprogress {
  max-height: 150px;
}

.uploaded-area::-webkit-scrollbar {
  width: 0px;
}

.uploaded-area .row .content {
  display: flex;
  align-items: center;
}

.uploaded-area .row .details {
  display: flex;
  margin-left: 15px;
  flex-direction: column;
}

.uploaded-area .row .details .size {
  color: #404040;
  font-size: 11px;
}

.uploaded-area i.fa-check {
  font-size: 16px;
}
