<!DOCTYPE html>
<html lang="en" >
    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Battambang&display=swap" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <title>Home</title>
    </head>
    <body>
        <div class="first_img">
        </div>
        <div class="Login_page">
            <a href="{{ url_for('login1') }}" target="_blank">Login</a>
        </div>
        <div class="text01">
            <h1>Polyp Cancer</h1>
        </div>
        <div class="text02">
            <p>Prediction Of Polyp</p>
        </div>
        <div class="text03">
            <p>Cancer</p>
        </div>
        <div class="text04">
            <p>using Convolution Neural Network</p>
        </div>
    </body>
    </html>